:root {
  --black: #000000;
  --white: #ffffff;
  --light: #f0edee;
  --darkGreen: #515e5c;
  --green: #9db5b2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

a {
  color: var(--black);
  text-decoration: none;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--light);
}

header {
  position: sticky;
  z-index: 1000;
  top: 22px;
  height: fit-content;
  margin: 22px;
  padding: 22px;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "Ledger", serif;
  color: var(--darkGreen);
}

.page-title {
  font-size: 3em;
  text-align: center;
}

.logo {
  color: var(--darkGreen);
  display: flex;
  gap: 11px;
  align-items: center;
}

.logo-text {
  font-size: 22px;
}

nav {
  display: flex;
  align-items: flex-end;
  gap: 44px;
  color: var(--darkGreen);
}

a {
  cursor: pointer;
}

.nav-item:hover {
  color: var(--darkGreen)
}

.selected {
  color: var(--darkGreen);
}

.search-container {
  color: var(--black);
  display: flex;
  gap: 8px;
  align-items: center;
}

.search {
  border: none;
  border-bottom: 1px solid var(--black);
  padding-left: 2px;
}

.search:focus {
  outline: none;
  border-bottom: 1px solid var(--darkGreen);
}

.search:focus + .fa-magnifying-glass {
  color: var(--darkGreen);
}

main {
  margin: 0 22px;
  display: flex;
  flex-direction: column;
  gap: 22px
}

.articles-column {
  display: flex;
  flex-direction: column;
  gap: 22px;
}


.articles-column > .preview-art-container:first-child {
  border: none;
  padding-top: 0;
}

.middle-column {
  border-left: solid var(--darkGreen) 3px;
  border-right: solid var(--darkGreen) 3px;
}

.preview-art-container {
  width: calc(100% - 44px);
  cursor: pointer;
  margin: 0 22px;
  padding-top: 22px;
  border-top: solid var(--darkGreen) 3px;
}

.preview-art-container:hover .preview-art-title {
  text-decoration: underline;
}

.preview-art-image {
  width: 100%;
}

.preview-art-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

footer {
  min-height: 120px;
  margin-top: 22px;
  background-color: var(--darkGreen);
}
