:root {
  --black: #000000;
  --white: #ffffff;
  --light: #f0edee;
  --darkGreen: #3b413c;
  --green: #9db5b2;
  --lightGreen: #94d1be;
  --lightestGreen: #daf0ee;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

a {
  color: var(--black);
  text-decoration: none;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: var(--light);
}

header {
  position: sticky;
  z-index: 1000;
  top: 22px;
  height: fit-content;
  margin: 22px;
  padding: 22px;
  background-color: var(--white);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "Ledger", serif;
  color: var(--darkGreen);
}

.logo {
  font-size: 22px;
}

nav {
  display: flex;
  gap: 44px;
  color: var(--darkGreen);
}

a {
  cursor: pointer;
}

main {
  margin: 0 22px;
  display: flex;
  flex-direction: column;
  gap: 22px
}

footer {
  min-height: 120px;
  margin-top: 22px;
  background-color: var(--darkGreen);
}
